<!DOCTYPE html>

<html lang="ru">

@@include("../blocks/modules/head/head.html")

<body>

    <!-- content wrapper -->
    <div class="wrapper">

        <!-- header -->
        @@include("../blocks/modules/header/header.html")

        <!-- main content -->
        <main class="main">

            <!-- breadcrumbs module -->
            @@include("../blocks/modules/breadcrumbs/breadcrumbs.html")

            <!-- rating module -->
            @@include("../blocks/modules/rating/rating-2.html")

            <!-- choose module -->
            @@include("../blocks/modules/choose/choose-1.html")

            <!-- stats module -->
            @@include("../blocks/modules/stats/stats.html")

        </main>

        <!-- footer -->
        @@include("../blocks/modules/footer/footer.html")

    </div>

    <!-- modals module -->
    @@include("../blocks/modules/modals/modals.html")

    <!-- connecting scripts -->
    <script src="js/main.js"></script>
    <script src="js/vendor.js"></script>

</body>

</html>